body {
  color: #5b6275;
}
h1 {
  font-size: 64px;
}
#currentCity {
  font-weight: 600;
  line-height: 1.2;
  font-size: x-large;
}

#currentDay {
  list-style: none;
}

#currentTemperatureC.active {
  color: #5b6275;
  cursor: default;
}
#currentTemperatureC.active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
}
.weather-forecast-temperature-min {
  opacity: 0.8;
}

.weather-forecast-temperatures {
  font-size: 14px;
}